*
{
font-family:"Roboto";
font-weight:bold;
}
.bgcontainer
{
height:100vh;
width:500px;
margin:auto;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZTHbAhX6zO8fIL5fA7dTYvhYFdCUn00urOPViCIywQdgGu6lWLoOCOeNpvJqEQ7rWjC8&usqp=CAU");
background-size:cover;
}
.main
{
height:300px;
width:300px;
background-color:yellow;
margin:auto;
padding-left:10px;
}
